.player_list {
  display: grid;
  grid-template-columns: repeat(2, 640px);
  grid-template-rows: repeat(3, 600px);
  gap: 30px;
}

.player_list > li {
  border: 1px solid #ccc;
  padding: 40px;
  border-radius: 20px;
}

.player_list > li {
  transition: all 0.5s;
}

.player_list > li:hover {
  transform: scale(1.05);
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

.name span:first-child {
  font-size: 2em;
}

.name span:nth-child(3) {
  font-size: 1.6em;
  color: #ccc;
  font-style: italic;
  position: relative;
  left: 20px;
}

.career {
  color: var(--font-middle-color);
}

.player_intro > div:first-child img {
  width: 250px;
  height: 250px;
  border-radius: 10px;
}

.player_intro {
  display: flex;
  position: relative;
}

.player_intro > div:last-child {
  margin-left: 15px;
}

.flag {
  width: 40px;
  position: absolute;
  right: 0px;
  top: 12px;
}

.profile {
  margin-top: 30px;
}

.profile li {
  margin: 10px 0;
  font-size: 1.05em;
}

.recent_achievement {
  margin: 20px 0;
}

.recent_achievement > span,
.support_item > div:first-child span {
  font-size: 1.125em;
  font-weight: 500;
}

.recent_achievement dl,
.recent_achievement dt {
  margin-top: 5px;
}

.recent_achievement dl,
.support_item div:last-child {
  border-radius: 10px;
  background-color: rgba(250, 247, 252, 0.9);
  padding: 10px 15px;
}

.recent_achievement dd,
.support_item div:last-child {
  color: var(--font-middle-color);
}

.support_item div:last-child {
  margin-top: 10px;
}

.support_item div:last-child span {
  display: inline-block;
}

.support_item div:last-child span:last-child {
  margin-left: 50px;
}
