*{
    text-transform: none;
}

body{
    height:100vh;
    background: #f2f2f2;
}


h1 a {
    display: block;
    width: 250px;
    height: 100px;
    background: url(../images/sub_logo_image.png) no-repeat;
    text-indent: -9999px;
    background-size: contain;
}

#wrap{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:80px 50px;
    box-shadow: 0 0 40px rgba(0,0,0,0.1);
    border-radius: 10px;
}

form{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #fff;
    height:720px;
    border-radius: 10px;
    width:600px;
}


#login_form{
    width:80%;
    margin-top:50px;
}

#title h2{
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 20px;
}

.name_container,
.id_container,
.tel_container{
    display:flex;
    flex-direction: column;
}

.name_container label,
.id_container label,
.tel_container > span{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.name_container input,
.id_container input,
.tel_container input{
    width:100%;
    padding:15px 20px;
    border: 1px solid #ccc;
    border-radius:5px;
    margin-top:10px;
    font-size: 18px;
}

.name_container input:focus,
.id_container input:focus,
.tel_container input:focus{
    outline:1px solid rgba(0,110,182,0.2);
    box-shadow:0 0 15px rgba(0,110,182,0.2);
}


.id_container,
.tel_container{
    margin-top:20px;
}

.id_container label{
    text-transform: uppercase;
}

.tel_input_container{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.tel_input_container div{
    width:30%;
    display:flex;
    justify-content: space-between;
    position: relative;
}

.tel_input_container div:first-child::after,
.tel_input_container div:nth-child(2)::after{
    content: "ㅡ";
    position: absolute;
    right: -18px;
    top: 36%;
}

.find{
    margin-top:40px;
    width:100%;
    padding:15px 0px;
    display:flex;
    border: none;
    border-radius: 3px;
    justify-content: center;
    background-color: rgba(0, 110, 182, 0.6);
    color: #fff;
    font-size:20px;
    font-weight:700;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.find:hover{
    background-color: rgba(0, 110, 182,1);
}


.go{
    margin-top:30px;
    display:flex;
}

.go li{
    width:50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.go li > span:first-child{
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
    color:#999;
}

.go li a > span{
    font-size: 16px;
    font-weight: 500;
    color:rgba(0, 110, 182,0.3);
    transition:all .3s;
}

.go li a:hover > span{
    color:rgba(0, 110, 182,1);
}