@import "../../../common/css/common.css";
@import "./sub_main.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap");

body {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  scroll-behavior: smooth;
  font-size: 16px !important;
}

body::-webkit-scrollbar {
  display: none;
}

:root {
  --main-color-blue: #006eb6;
  --main-color-white: #fff;
  --sub-color: #f1f1f1;
  --point-color: #009867;
  --font-color: #333;
  --font-middle-color: #666;
  --font-small-color: #999;
  --title-font: 3.75em;
  --sub-title-font: 2.25em;
  --font-bold: 700;
  --font-light: 200;
  --font-thin: 100;
}

.hidden,
#skipNav {
  position: absolute;
  top: 0%;
  color: white;
  width: 1px;
  overflow: hidden;
}

.hidden {
  height: 1px;
  left: -1000%;
}

#skipNav {
  position: fixed;
  width: 2000px;
  z-index: 110;
}

#skipNav a {
  display: block;
  height: 1px;
  margin-bottom: -1px;
  color: var(--main-color-white);
  overflow: hidden;
  text-align: center;
}

#skipNav a:hover,
#skipNav a:focus,
#skipNav a:active {
  height: auto;
  padding: 5px 0;
  background: var(--main-color-blue);
}

* {
  text-transform: uppercase;
  box-sizing: border-box;
}

*:-webkit-any-link {
  color: #333;
}

a {
  text-decoration: none;
}

/*subpage 공통영역*/

.subNav {
  width: 100%;
  border: 1px solid #ccc;
  border-top: none;
}
.subNav_wrap {
  margin: 0 auto;
  display: flex;
  width: 1200px;
  height: 60px;
  justify-content: space-around;
  align-content: space-between;
}

.subNav_wrap a,
.subNav_wrap li {
  width: 100%;
  height: 100%;
  position: relative;
}

.subNav_wrap li::after {
  content: "";
  width: 80%;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 10%;
  background-color: var(--main-color-blue);
  opacity: 0;
  transform: scale(0);
  transition: all 0.4s ease-out;
}

.subNav_wrap a {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-out;
  font-size: 1.125em;
}

.subNav_wrap li:hover::after {
  transform: scale(1);
  opacity: 1;
}

article {
  width: 2000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--font-color);
  position: relative;
}

article h4 {
  font-size: 3.75em;
  font-weight: var(--font-bold);
  text-align: center;
  position: relative;
  height: 120px;
  margin-top: 180px;
}

article h2::after {
  content: "";
  height: 5%;
  bottom: 10px;
  background-color: rgba(0, 109, 182, 0.9);
  position: absolute;
}

.contentArea {
  display: flex;
  width: 1200px !important;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.lineMap {
  position: absolute;
  top: 30px;
  right: 485px;
}

.product_list ul li {
  transition: all 0.5s;
}

.product_list ul li:hover {
  transform: scale(1.11);
  box-shadow: 3px 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.product_list ul li:hover a {
  color: var(--point-color);
}

.onclick {
  background-color: var(--main-color-blue);
  font-weight: var(--font-bold);
}

.onclick a {
  color: var(--main-color-white);
}

.show {
  animation: list_up 0.9s ease-out forwards;
}

@keyframes list_up {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
  }
}

/* modal_css */

.modal_tab {
  display: none;
  z-index: 500;
  position: absolute;
  align-items: center;
  justify-content: center;
}

.modal_background {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
}

.modal_container {
  padding: 80px 40px;
  border: 3px solid var(--main-color-blue);
  position: fixed;
  left:25%;
  display: flex;
  flex-direction: column;
  z-index: 1000;
  background-color: #fff;
  width:50%;
}

.product_information {
  display: flex;
  align-items: center;
}

.product_information img {
  padding: 50px;
  width: 378px;
}

.product_info {
  width: 60%;
}

.product_info span {
  font-size: 2em;
  font-weight: 500;
  color:var(--main-color-blue);
}

.racket_information dl {
  margin: 20px 0;
}

.racket_information dt {
  font-weight: 500;
  font-size: 1.2em;
  margin-bottom: 5px;
  color: var(--point-color);
}

.racket_information dd {
  color: var(--font-middle-color);
  text-align: justify;
}

.used_skill {
  font-size: 1.5em;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.used_skill > span {
  position: relative;
  bottom: -15px;
}

.technic {
  width: 800px;
  height: 200px;
  background-color: rgba(250, 247, 252, 0.9);
  border-radius: 20px;
}

.technic_list {
  display: grid;
  grid-template-columns: repeat(3, 266px);
  grid-template-rows: repeat(2, 100px);
  align-items: center;
  justify-items: center;
  font-size: 0.8em;
}

.technic_list li {
  font-size: 0.8em;
  background: #fff;
  padding: 10px;
  border-radius: 20px;
  text-align: center;
}

.exit {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 2em;
  color: rgba(0, 0, 0, 0.1);
}

.exit a {
  padding: 10px;
}

.modal_show {
  display: flex;
}

.fade_in {
  transition: all 0.8s;
}

