#col2{
    width:1200px;
}

#list_search{
    width:100%;
    display:flex;
    align-items:center;
}

#find_kind {
    width:20%
}

#find_kind select{
    border-radius: 5px;
    font-size: 18px;
    width:70%;
    padding:10px;
}

.num_container{
    display:flex;
    justify-content: space-between;
    margin:20px 0;
    align-items: center;
}

#total_record{
    font-size: 20px;
}

.list_counter select{
    padding: 7px 2px;
    border-radius: 10px;
}

.list_counter select:focus{
    outline:none;
}

#list_content{
    display: flex;
    flex-direction: column;
}

.list_title{
    border-top:2px solid #333;
    border-bottom:2px solid #333;
    background-color: #ccc;
}

.list_title,
#list_item{
    display: flex;
    width: 100%;
}

#list_item{
    border-bottom: 1px solid #ccc;
    transition:all .4s ease-in-out;
}

#list_item:hover{
    background-color: #f1f1f1;
}


.list_title > li,
#list_item > div{
    text-align: center;
    padding: 20px 0;
}


.list_title > li:nth-child(1),
#list_item1{
    width:5%
}

.list_title > li:nth-child(2),
#list_item2{
    width:70%
}

.list_title > li:nth-child(3),
#list_item3{
    width:5%
}

.list_title > li:nth-child(4),
#list_item4{
    width:15%
}

.list_title > li:nth-child(5),
#list_item5{
    width:5%
}

#page_button{
    margin-top:20px;
    width:20%;
    display:flex;
    align-self:center;
    justify-content: space-around;
}

#page_button b,
#page_button a{
    padding:10px;
    cursor: pointer;
}

#btn_container{
    display:flex;
    align-self: flex-end;
}

#btn_container a{
    border-radius: 5px;
    padding: 10px 20px;
    margin: 0 10px;
    transition:all .3s ease-in-out;
}


#btn_container a:nth-child(1){
    background-color: #f1f1f1;
}

#btn_container a:nth-child(1):hover{
    background-color: #ccc;
}

#btn_container a:nth-child(2){
    background-color: #0f9af5;
    color:#fff;
}

#btn_container a:nth-child(2):hover{
    background-color: #006eb6;
}

.search_container{
    width: 60%;
    align-self: center;
    margin-top: 60px;
}

#list_search4{
    width:80%;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

#list_search4 input{
    border-radius: 5px;
    font-size: 18px;
    width:80%;
    padding:10px;
    border:1px solid #999;
}

#list_search4 input:focus{
    outline:none;
}

#list_search4 button{
    border-radius: 5px;
    font-size: 20px;
    border: none;
    width:15%;
    padding: 9px 4px;
    cursor:pointer;
    transition:all .3s ease-in-out;
}

#list_search4 button:hover{
    background-color: #ccc;
}