/* .id_container,
.pass_container,
.pass_confirm_container,
.name_container,
.nick_container,
.email_container{
} */

*{
    text-transform: none;
}

body{
    background: #f6f6f6;
}

h2{
    font-size: 1.7rem;
    font-weight: 700;
    margin:50px 0;
}

form{
    width:30%;
    background-color: #fff;
    padding: 30px 60px;
    box-shadow:  0 0 20px rgba(0,0,0,0.1);
}

form > div{
    margin:10px 0;
}

label{
    font-size:16px;
    font-weight:700;
}

.id_input_container,
.nick_input_container{
    display:flex;
    align-items: center;
    position:relative;
}

.info_text{
    position:absolute;
    right:10px;
    font-size:14px;
}

input{
    border: 1px solid #ccc;
    padding: 15px 20px;
    border-radius: 3px;
    width:100%;
    font-size:18px;
    margin:10px 0;
}

input:focus{
    outline:1px solid #0f9af5;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
}

.ph_number_input_container{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.ph_number_input_container select{
    width:30%;
    border: 1px solid #ccc;
    padding: 14px 20px;
    border-radius: 2px;
    font-size:18px;
    outline:none;
}

.ph_number_input_container .ph_middle_number,
.ph_number_input_container .ph_last_number{
    width:33.33%;
}

.email_input_container{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.email_id_input_container{
    width:48%
}

.email_address_input_container{
    width:49%;
}

.btn_container{
    display:flex;
    justify-content: flex-end;
    align-items: center;
}

.btn_container a{
    width:20%;
    padding:10px 10px;
    border-radius: 3px;
    border: none;
    font-size:14px;
    cursor:pointer;
    text-align: center;
    margin-top:20px;
}

.btn_container a:first-child{
    background-color: #006eb6;
    color:#fff;
}

.btn_container a:last-child{
    background-color: #ccc;
    color:#fff;
}

input::placeholder{
    font-size:16px;
    color:#999;
}

.fail{
    border:1px solid red !important;
    outline:1px solid red !important;
}

.success{
    border:1px solid #0f9af5 !important;
    outline:1px solid #0f9af5 !important;
}