.index_img{
    display: flex;
    justify-content: center;
    margin-bottom:50px;
}

.logo_img{
    width: 50%;
}


#content{
    width: 1400px; 
    margin: 100px auto;
}  

.member_tab{
    padding: 30px 0;
    border-top: 1px solid #333;
}

.member_tab a{
    font-size: 24px;
    padding: 10px;
    margin: 0 10px;
    color: #aaa;
}

.member_tab a.on{
    color: #fff;
    border-bottom: 2px solid #333;
    font-weight: bold;
}

.member_tab span{
    font-size: 24px;
    padding: 10px;
    margin: 0 10px;
    color: #fff;
    font-weight: bold
}

.container{
    padding:40px 40px 20px 40px;
    transition:all .6s ease-in-out;
}

.container:hover{
    box-shadow: 0 0 40px 0 rgba(0,0,0,0.1);    
}

.join{
    text-align: left; 
    position: relative;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.join > img{
    width:30%;
}

.join h4{
    font-size: 20px;
    margin: 30px 0; 
    align-self: flex-start;
}

.join .policy{
    padding: 20px 30px; 
    overflow-y: scroll;
    width:1400px; 
    height: 200px; 
    margin: 20px 0;
    border: 1px solid #ddd;
    background: #fff; 
    font-size: 16px; 
    line-height: 2em;
}

.join .check{
    margin: 20px 0 60px;
    align-self: flex-start;
}

.join .button{
    display:flex;
    text-align: center;
    margin-top: 30px
}

.join .button .ok,
.join .button button,
.join .allcheck{
    display: inline-block;
    width: 200px;
    line-height: 24px;
    padding: 8px 0;
    border: none;
    background: #006eb6;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    margin: 0 5px;
}

.join .button .cancel{
    display: inline-block;
    width: 200px;
    line-height: 24px;
    padding: 8px 0;
    border: none;
    background: #999;
    color: #fff;
    font-size: 14px;
    cursor: pointer
}

.join .allcheck{
    background: #999;
    border: 1px solid #fff;
}

input[type=checkbox] + label::before{
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: transparent;
    border: 2px solid #999;
    border-radius: 50%;
    content: '';
    margin: 0px 15px -6px 0px;
}
input[type=checkbox]{
    display: none;
}
input[type=checkbox] + label{
    cursor: pointer;
}
input[type=checkbox]:checked + label::before{
    background: #fff url(../images/checked_bg.png) center center no-repeat;
    border: 2px solid #0075ff;
}